# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/.idea.UE4MuseumGuideAssist.iml
/modules.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../:\LocalWorkspace\UnrealProjects\MuseumGuideAssistanceUE4\.idea\.idea.UE4MuseumGuideAssist\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
